<!DOCTYPE html>
<html>
<head>
    <title>Integration Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        <button id="getResponse">Get Response</button>
    </div>
    <div>
        <textarea id="responseContainer" rows="10" cols="50"></textarea>
    </div>

    <script>
        $(document).ready(function() {
            $("#getResponse").click(function() {
                $.ajax({
                    url: "/get_response",
                    type: "GET",
                    success: function(response) {
                        $("#responseContainer").val(response.result);
                    },
                    error: function(xhr) {
                        $("#responseContainer").val("Error: " + xhr.statusText);
                    }
                });
            });
        });
    </script>
</body>
</html>
